body{

    margin: 0px;
    padding: 0px;


}






.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.icon{
    display: flex;
    gap: 20px;

    
}
.icon h1{

    color: #131318;
    font-family: Mulish;
    font-size: 36px;


}
.hilight{

    color: red;
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;

}

.menu{

    text-decoration: none;
    
}
.home{
    color: #FF5400;
}
.menu li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    
}



.hide-item{
    position: relative;
    display: none;
}



.banner{

    background-image:url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: auto;
    margin: 50px;
    border-radius: 20px;
}
.tittle{
    text-align: center;
    padding-top: 50px;
}
.tittle h1{

    color: #FFF;
font-family: Mulish;
font-size: 64px;

}

.tittle p{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;

}
.finding{


    background-color: rgba(240, 248, 255, 0.249);
    height: 100px;
    width: auto;
    background-position: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

}
.finding select {

    margin: 20px;
    border-radius: 10px;
    width: 20%;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.416);
    border: 0px;

}
.finding button {

    margin: 20px;
    border-radius: 10px;
    width: 20%;
    background-color: #FF5400;
    color: white;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;

}


@media screen and ( max-width: 600px) {
    
    .menu{
        display: none;
    }
    .hide-item{
        display: contents;
    }

    .finding{

        flex-direction: column;
        height: auto;
        gap: 0px;
       
    }
    .banner{
        height: auto;
        padding-bottom: 25px;
    }

    .finding select{

        width: 80%;
        height: 40px;
    }

    .finding button{

        width: 80%;
        height: 40px;
    }
    
}












.popular{

    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 20px;
    align-items: center;

   
}
.popular-left{
    margin: 5px;
    padding: 5px;
 
}
.popular h1{
    color: #131318;
    font-family: Mulish;
    font-size: 50px;

}
.popular li,p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 20px;
    text-align: justify;
}


@media screen and ( max-width: 600px) {


    .popular{

        flex-direction: column;

    }
    .popular-right{

    margin-left: 50px;
    margin-right: 50px;
    


    }



}











.destination h1{

    color: #000000;
    font-family: Mulish;
    font-size: 40px;
    text-align: center;

}

.destination p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    text-align: center;
}








.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
  }

  .photo-container {
    position: relative;
    margin: 10px;
    overflow: hidden;
    width: auto;
    height: 300px;
    border-radius: 20px;
    border: 2px solid rgba(255, 0, 0, 0.295);
    margin-top: 20px;

  }

  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: aliceblue;
    font-family: Mulish;
    font-size: 50px;
  }

  .photo-container:hover .photo {
    transform: scale(1.1);
  }

  .photo-container:hover .hover-text {
    opacity: 1;
  }

  @media screen and ( max-width: 600px) {






  }

.choose h1{

    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    text-align: center;

}
.choose p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    text-align: center;
}

.Choose-box-1{

    display: flex;
    gap: 20px;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    margin: 20px;

}
.box-1{
    width: 40%;
    border: 0.5px solid rgba(255, 0, 0, 0.164);
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.326);
    border-radius: 10px;
}
.box-2{
    width: 40%;
    height: auto;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 0, 0, 0.164);
    padding: 20px;
    background-color: rgba(127, 255, 212, 0.068);
}
.Choose-box-2{
   justify-content: center;
   align-items: center;
   width: 50%;
   height: auto;
   position: relative;
   border: 0.5px solid rgba(255, 0, 0, 0.164);
   padding: 20px;
   border-radius: 10px;
   background-color: rgba(0, 0, 255, 0.05);
}

@media screen and ( max-width: 600px) {

    .Choose-box-1{
        flex-direction: column;
        height: auto;
        align-items: center;
       
    }
    .box-1{
        width: 50%;
    }
    .box-2{
        width: 50%;
    }




}












.video-section{
display: flex;
flex: 1;
justify-content: space-around;
margin: 50px;
gap: 20px;
align-items: start;
width: 100%;
height: auto;
margin-top: 50px;
padding: 30px;
align-items: center;

}
.video-section-1{
    flex: 1;
}
.video-section-2 video{
    width: 500px;
}

.video-section-2{
    flex: 1;
}
.video-section h1{
    text-align: left;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 150% */
}
.video-section p{
    text-align: left;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.video-section li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

.video-section video{

    border-radius: 20px;
    align-items: center;
}
.btn-primary{
    color: #FFF;
    background-color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    border: 2px solid white;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;

}

@media screen and ( max-width: 600px) {

    .video-section{
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
    }

    .video-section video{

        width: 100%;
    }


}










.Packages{
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: space-around;
    border-radius: 20px;

}
.Packages div{
    width: 30%;
    height: auto;
    background-color: #00ff2a0c;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid rgba(255, 0, 0, 0.203);
}
.Packages button{
    margin-top: 50px;
   
}

@media screen and ( max-width: 600px) {

    .Packages{
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .Packages div{

        height: auto;
        width: 50%;
    }



}














.Newsletter{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
    gap: 20px;
}

.Newsletter-left{

    border: 2px solid red;
    padding: 30px;
    border-radius: 10px;

}

.btn-section{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btn-1{

    background-color: rgba(0, 0, 0, 0.046);
    border: 2px;
    color: #FFF;
    font-family: Mulish;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 20px;

}

.btn-2{

    background-color: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    border-radius: 5px;

}
.overlap div{
    background-color: #FF5400;
    color: white;
    width: 200px;
    height: 80px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    left: 500px;
    bottom: 230px;
    transform: rotate(-20deg);

}
#pera-color {
    color: #FFF;
    padding: 0%;
    margin: 0%;
}

@media screen and ( max-width: 600px) {

    .Newsletter{
        flex-direction: column;
        gap: 20px;
    }

    .Newsletter-right{
    
        align-items: center;
    }
    .Newsletter-right img{
        width: 100%;
    }

    .overlap div{

        position: relative;
        left: 80px;
        bottom: 200px;
        width: 100px;
        height: auto;
        transform: rotate(-20deg);
    }


}







.footer-section{

    background: #34343611;
    height: auto;
    width: 100%;
    padding-top: 30px;
   

}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.footer-container h3{

    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  

}

.footer-container span{

    color: #FF5400;

} 

.footer-container p{

    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: black;

}

.social{

   list-style: none; 
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
    
    
.social i {

    text-decoration: none;
    color: black
}

.footer-bottom{

    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.089);
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}
    
@media screen and ( max-width: 600px) {


    footer{

        width: 90%;

    }


}

